---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2017&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_uv6jMSQ54DycvURjLCpORYLW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19C88BFgeUvs3GmukxKlUEbl",
          "object": "token",
          "card": {
            "id": "card_19C88BFgeUvs3GmuTxiVw1GM",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2017,
            "fingerprint": "BKTw6Ixt61DE2nPW",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "173.10.171.149",
          "created": 1478267599,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 04 Nov 2016 13:53:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_19C88BFgeUvs3GmukxKlUEbl&plan=myflix_basic&email=a%40b.c
    headers:
      Authorization:
      - Bearer sk_test_uv6jMSQ54DycvURjLCpORYLW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9V8OWImuQsFuco",
          "object": "customer",
          "account_balance": 0,
          "created": 1478267599,
          "currency": "usd",
          "default_source": "card_19C88BFgeUvs3GmuTxiVw1GM",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "a@b.c",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_19C88BFgeUvs3GmuTxiVw1GM",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_9V8OWImuQsFuco",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 6,
                "exp_year": 2017,
                "fingerprint": "BKTw6Ixt61DE2nPW",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9V8OWImuQsFuco/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_9V8OHuCtuwO6iC",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1478267599,
                "current_period_end": 1480859599,
                "current_period_start": 1478267599,
                "customer": "cus_9V8OWImuQsFuco",
                "discount": null,
                "ended_at": null,
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "myflix_basic",
                  "object": "plan",
                  "amount": 999,
                  "created": 1478198264,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "MyFlix - Basic",
                  "statement_descriptor": "myflix basic",
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1478267599,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9V8OWImuQsFuco/subscriptions"
          }
        }
  recorded_at: Fri, 04 Nov 2016 13:53:20 GMT
recorded_with: VCR 3.0.3
