---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_19Ccu9FgeUvs3GmudtkaLLuU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_uv6jMSQ54DycvURjLCpORYLW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_19Ccu9FgeUvs3GmudtkaLLuU",
          "object": "event",
          "api_version": "2016-07-06",
          "created": 1478385893,
          "data": {
            "object": {
              "id": "ch_19Ccu9FgeUvs3GmuN5SRAvSn",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "balance_transaction": "txn_19Ccu9FgeUvs3Gmuau2iiuOQ",
              "captured": true,
              "created": 1478385893,
              "currency": "usd",
              "customer": "cus_9VeC7SVZmZNl4Z",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_19Ccu9FgeUvs3GmuXFgoDnUy",
              "livemode": false,
              "metadata": {},
              "order": null,
              "outcome": {
                "network_status": "approved_by_network",
                "reason": null,
                "risk_level": "normal",
                "seller_message": "Payment complete.",
                "type": "authorized"
              },
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_19Ccu9FgeUvs3GmuN5SRAvSn/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_19Ccu8FgeUvs3GmuWFNxnC6F",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_9VeC7SVZmZNl4Z",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2021,
                "fingerprint": "BKTw6Ixt61DE2nPW",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": "myflix basic",
              "status": "succeeded"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_9VeC70ssUNo6FV",
          "type": "charge.succeeded"
        }
  recorded_at: Sat, 05 Nov 2016 23:10:59 GMT
recorded_with: VCR 3.0.3
