---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_19DE6aFgeUvs3GmuYNCa2Xc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_uv6jMSQ54DycvURjLCpORYLW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_19DE6aFgeUvs3GmuYNCa2Xc9",
          "object": "event",
          "api_version": "2016-07-06",
          "created": 1478528892,
          "data": {
            "object": {
              "id": "ch_19DE6ZFgeUvs3GmuacG9iNuY",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1478528891,
              "currency": "usd",
              "customer": "cus_9VfHcmilKdOigo",
              "description": "failure",
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "order": null,
              "outcome": {
                "network_status": "declined_by_network",
                "reason": "generic_decline",
                "risk_level": "normal",
                "seller_message": "The bank did not return any further details with this decline.",
                "type": "issuer_declined"
              },
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_19DE6ZFgeUvs3GmuacG9iNuY/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_19DE41FgeUvs3Gmuwvy8nE7Z",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_9VfHcmilKdOigo",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2025,
                "fingerprint": "JdFb5cdIk9LqsEmo",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": "myflix basic",
              "status": "failed"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_9WGdgG9ok6zXh1",
          "type": "charge.failed"
        }
  recorded_at: Mon, 07 Nov 2016 15:58:09 GMT
recorded_with: VCR 3.0.3
